$color-light-gray: #f6f6f6;
$color-white: #ffffff;
$color-main: #1e6e7c;
$color-menu-selected: ‌ #39808c;
$color-white-light: #dddddd;
$color-light-grayish-blue: #969ba0;
$color-light-green: #ebf8f6;
$color-medium-green: #5bcfc5;
$color-cyan: #5bcfc5;
$color-white-smoke: #f3f3f3;
$color-light-blue: #cce4ff;
$color-Purple: #3c3c4c;
$color-gray-white: #d1d1d1;
$color-gray-white-light: #d0d0d0;
$color-blue: #0072e1;
$color-dark-blue: #090963;
$color-navy-blue: #1010ac;
$color-Turbid-oil-blue: #1e1e6c;
$color-Pale-blue: #337ab7;
$color-black: #000000;
$color-light-black: rgba(62, 73, 84, 0.04);
$color-silver: #c4c4c4;
$color-light-grayish-green: #68e365;
$color-blue-medium: #4f7086;
$color-orange: #cfae4d;
$color-red: #ff0000;
$color-brown: #888;
$color-blue-button: #3498db;
$color-red-button: #dd5050;
$color-background-grid-silver: #f0f0f0;
$color-background-grid: #eef8f7;
$color-navy: #004f94;
$color-logout-button: #3caea3;
$color-medium-blue: #004f94;
$color-user-status-yellow: #ffba08;
$color-user-status-red: #f62735;
$color-user-status-blue: #3caea3;
$color-border-green: #47c954;
$color-background-detaile: #004f94;
$color-text-grid: #585858;
$color-title-grid: #505050;
$color-medium-blue: #004f94;
$color-number-status: #2b2b2b;
$color-detaile-grid: #080808;
$color-button-disable: #ebebeb;
$color-gray: #b3b5b7;
$color-input-disable: #f8f8f8;
$color-inactive-tab: #bac3c2;
