$_100-percent: 100%;
$_50-percent: 50%;
$tow-rem: 2rem;
$one-rem: 1rem;
$twenty-rem: 20rem;
$width-15rem: 15rem;
$menu-default-margin: 1.25rem;
$menu-default-width: 13rem;
$menu-border-radius: 1.43rem;
$menu-icon-size: 1.3rem;
$menu-item-padding: 0.93rem;
$menu-item-icon-padding: 1.07rem;
$font-18-px: 0.84rem;
$font-17-px: 0.8rem;
$font-16-px: 0.75rem;
$font-40-px: 1.5rem;
$font-20-px: 0.95rem;
$font-1rem: 1rem;
$main-header-icon-size: 1.31rem;
$main-header-height: 6.25rem;
$main-header-btn-width: 10rem;
$main-header-btn-height: 2.6rem;
$main-header-icon-padding: 1.2rem;
$main-header-margin-top: 1.5rem;
$search-input-width: 20.9rem;
$search-input-height: 3rem;
$login-form-height: 100vh;
$login-form-width: 50%;
$login-form-border: 2rem;
$Media-smallmobile-size: 278px;
$Media-medium-mobile-size: 420px;
$Media-size-499px: 499px;
$Media-size-500px: 500px;
$Media-mobile-size: 673px;
$Media-smalltablet-size: 700px;
$Media-size-723px: 723px;
$Media-tablet-size: 768px;
$Media-size-875px: 875px;
$Media-size-815px: 965px;
$Media-size-925px: 925px;
$Media-laptop-size: 1145px;
$Media-size-1270px: 1270px;
$Media-size-1275px: 1275px;
$Media-size-1240px: 1240px;
$Media-size-1070px: 1070px;
$filter-input-height: 2.5rem;
$search-margin-right: 2.56rem;
$menu-logo-width: 9.26rem;
$menu-logo-height: 2.48rem;
$header-title-padding: 0.5rem;
$header-title-width: 14rem;
$payment-history-item-padding: 1.4rem;
$payment-history-image-size: 2.95rem;
$payment-grid-btn-width: 6.1rem;
$payment-grid-btn-height: 2.2rem;
$payment-grid-icon-size: 1.68rem;
$payment-grid-icon-bottom-padding: -1.25rem;
$payment-grid-icon-right-padding: -0.625rem;
$border-radius-notifi: 50rem;
$bottom: 1rem;
$profile-input-row: 30rem;
